
/* Your CSS Code here. */
body{
margin:0;
font-family: Arial, sans-serif;
}

.holder{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
padding:20px;
}

.item{
width:90px;
height:90px;
background-color:#4CAF50;
color:black;
display:flex;
font-size:40px;
}

.item1{
width:90px;
height:90px;
background-color:#4CAF50;
color:black;
display:flex;
margin-bottom:20px;
font-size:40px;
}

.item2{
width:90px;
height:90px;
background-color:#F82222;
color:black;
display:flex;
margin-bottom:20px;
font-size:40px;
}

.item3{
width:90px;
height:90px;
background-color:#1916E1;
color:black;
display:flex;
margin-bottom:20px;
font-size:40px;
}

.item4{
width:90px;
height:90px;
background-color:#1916E1;
color:black;
display:flex;
font-size:40px;
}

.item5{
width:90px;
height:90px;
background-color:#F82222;
color:black;
font-size:40px;
	display:flex;
}